<!DOCTYPE html>
<html>
<head>
  <title> Sito prova </title>
  <script type='text/javascript' src='knockout-3.4.2.js'></script>
  <script src='http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js'></script>
</head>

<body>
  <header>
  </header>
  <ul data-bind="foreach: items">
    <li>
        <input data-bind="value: name" />
        <input data-bind="value: price" />
        <a href="#" data-bind="click: $parent.removeItem">Delete</a>
    </li>
  </ul>
  <form data-bind="submit: addItem">
    <!--<input data-bind="value: newItem._id, visible: false" />-->
    <input data-bind="value: itemName" placeholder="Article" />
    <input data-bind="value: itemPrice" placeholder="Price" />
    <button type="submit">Add</button>
  </form>

  <!--<button data-bind="click: save">Salva</button>-->

  <script src="/js/load_data.js"></script>
</body>
</html>
